<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>ad-hoc</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>teamID</key>
    <string>Y78DX5D6JD</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.mtc.counter</key>
        <string>match AdHoc com.mtc.counter</string>
        <key>com.mtc.counter.watchkitapp</key>
        <string>match AdHoc com.mtc.counter.watchkitapp</string>
    </dict>
    <key>compileBitcode</key>
    <false/>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>thinning</key>
    <string>&lt;none&gt;</string>
</dict>
</plist>
